[client]
default-character-set=gbk

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

# BINARY LOG
log-bin = mysql-bin
binlog_format = "MIXED"
expire_logs_days = 1

#QUERY CACHE
query_cache_size = 32K
query_cache_limit = 2M

#TABLE CACHE
table_definition_cache=500
table_open_cache=1024

key_buffer_size = 8M
max_allowed_packet = 1M
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

#MAX CONNECTIONS
max_connections = 8

#Slow Query log
long_query_time=3

# Log queries that is not using indexes
log-queries-not-using-indexes

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
